:root {
  --primary: #ea6240;
  --business: #3a82ee;
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --business-glow: 0 0 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0 0 4px rgba(172, 64, 234, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.container {
  margin: 2rem;
}

h1 {
  margin: 2rem auto;
  font-size: 3rem;
  color: var(--dark);
}

h2 {
  color: var(--dark);
}

/* .score-info {
  width: 80vw;
} */

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#score-table {
  min-width: 450px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 1rem;
}

#score-table > :nth-child(even) {
  background-color: var(--business);
  color: var(--light);
}

p {
  color: var(--dark);
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100%;
  background-color: transparent;
  color: var(--dark);
  text-align: center;
  transition: 0.2s ease-out;
}

button {
  background-color: var(--primary);
  color: var(--light);
  box-shadow: var(--shadow);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: var(--business);
  color: var(--light);
}

@media (min-width: 768px) {
  h1 {
    margin-left: 15rem;
  }

  .scores {
    justify-content: flex-start;
  }

  #refresh-btn {
    margin-left: 20rem;
  }

  .container {
    display: flex;
  }

  #score-table {
    width: 100%;
  }
}
